a {
  text-decoration: none;
}
.blogs {
  padding: 20px 50px;
  background-color: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editor_heading {
  text-align: center;
  color: green;
  margin-bottom: 70px;
}
.create_blogs {
  padding: 10px 10px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
  /* width: 10%; */
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-end;
}
.create_blogs:hover {
  background-color: rgb(49, 151, 49);
}
.blogs_heading {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid rgb(124, 124, 124);
}
.recent_blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  row-gap: 50px;
}

.blog_text {
  max-height: 10%;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.blogs_read_more {
  color: blue;
}

.blogs_option_icon {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.blogs_option_icon svg {
  font-size: 25px;
  cursor: pointer;
}

.blogs_option_icon :nth-of-type(1) :hover {
  fill: rgb(0, 136, 7);
}

.blogs_option_icon :nth-of-type(2) :hover {
  color: rgb(204, 47, 36);
}

@media screen and (max-width: 768px) {
  .blogs {
    padding: 30px;
  }
}
