:root {
	--primary: #e4ae25;
	--font-primary: 'Playfair Display', serif;
	--font-secondary: 'Didact Gothic', sans-serif;
	--font-tertiary: 'Vast Shadow', cursive;
}
.sidebarLogo {
	display: flex !important;
	width: 100% !important;
	justify-content: center;
	padding: 5%;
}

.ant-table-thead > tr > th {
	background: #202020 !important;
}
.ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td {
	border-bottom: 1px solid #202020 !important;
}
.ant-table-wrapper .ant-table-thead > tr > th {
	color: #ffffff !important;
}
.ant-table-wrapper::-webkit-scrollbar {
	width: 0.75rem !important; /* Adjust the width as needed */
}
.ant-table-wrapper::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #d9d9d9; /* Hide the thumb */
}
.projectImage {
	width: 100% !important;
	height: 3rem !important;
	object-fit: cover; /* Scale the image to cover the container */
	object-position: center center; /* Center the image both horizontally and vertically */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
ul.ant-menu  li.ant-menu-item-active:not(:first-child) .ant-menu-item-selected ~ .ant-menu-item-active  {
	background-color: transparent !important; /* Set the background color to transparent */
  }
.ant-menu-item-selected + .ant-menu-item-active {
	background-color: transparent !important; /* Set the background color to transparent */
}
/* .ant-menu-item-active {
	background-color: #1677ff;
} */
