@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Playfair+Display:wght@800&family=Vast+Shadow&display=swap');
:root {
	--primary: #e4ae25;
	--font-primary: 'Playfair Display', serif;
	--font-secondary: 'Didact Gothic', sans-serif;
	--font-tertiary: 'Vast Shadow', cursive;
}

/* ANTD Table Css */
.ant-table-thead > tr > th {
	font-family: var(--font-secondary);
	background: #202020 !important;
}
.ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td {
	font-family: var(--font-secondary);
	border-bottom: 0.0625rem solid #2020203e !important;
}
.ant-table-wrapper .ant-table-thead > tr > th {
	color: #ffffff !important;
}
.ant-table-wrapper::-webkit-scrollbar {
	width: 0.75rem !important; /* Adjust the width as needed */
}
.ant-table-wrapper::-webkit-scrollbar-thumb {
	border-radius: 1.25rem;
	background-color: #d9d9d9; /* Hide the thumb */
}
.ant-table-thead > tr > th .anticon svg {
	fill: #ffffff;
}
.ant-table-thead > tr > th .active svg {
	fill: #1677ff;
}

/* ANTD Menu Css */
ul.ant-menu
	li.ant-menu-item-active:not(:first-child)
	.ant-menu-item-selected
	~ .ant-menu-item-active {
	background-color: transparent !important; /* Set the background color to transparent */
}
.ant-menu-item-selected + .ant-menu-item-active {
	background-color: transparent !important; /* Set the background color to transparent */
}

/* ANTD Form Field */
.loginParentContainer .ant-form-item {
	text-align: left;
	width: 70%;
}
.loginParentContainer .ant-input-affix-wrapper {
	border-radius: 0.25rem;
}
.loginParentContainer .ant-form label {
	font-family: var(--font-secondary);
	color: #ffffff !important;
	font-weight: 700;
	width: 70%;
	text-align: left;
	font-size: 0.75rem !important;
}
.loginParentContainer .ant-btn-primary {
	font-family: var(--font-secondary) !important;
	width: 100%;
	border-radius: 0.25rem;
	background: var(--primary) !important;
}
@media only screen and (max-width: 768px) {
	/* ANTD Input Field */
	.ant-form label,
	.loginParentContainer .ant-form-item {
		width: 90% !important;
	}
}
