.alert-box{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

.alert-btn{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
}

.alert-btn button{
    color: white;
    background-color: blue;
    padding: 10px 15px ;
    border: none;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.alert-btn button:hover{
    color: white;
    background-color: rgb(111, 111, 150);
    padding: 10px 15px ;
    border: none;
    border-radius: 5px;
    width: 100px;
}