.dashboard {
    padding: 0px 20px;
    background-color: #fafafa;
}

.dashborad_admin_data {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.dashboard_card {
    width: 300px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border:  1px solid black; */
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 35%);
}

.dashboard_card_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard_card_flex svg {
    font-size: 40px;
}

.dashboard_card p {
    font-size: 13px;
}

.dashboard_card button {
    padding: 8px;
    background-color: #3f51b5;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard_card button:hover {
    background-color: #5f71d8;
}