.add-category-container{
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-column-styl{
    /* text-align: center; */
}

.category-icons-edit{
    font-size: 20px;
    cursor: pointer;
    color: blue;
}

.category-icons-delete{
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.category-icons-edit:hover , .category-icons-delete :hover{
color: rgb(155, 155, 155);
}

.category-select{
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.category-select:hover{
    background-color: rgb(53, 126, 53);
}

.add-category-input{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.add-category-input input{
    padding: 5px;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 70%;
}

.add-category-input button{
    padding: 8px 10px;
    background-color: rgb(0, 70, 128);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.add-category-input button:hover{
    background-color: rgb(46, 96, 136);
}

.preview_container_box p, b, ul{
    line-height: 30px;
}

.preview_container_box ul{
    padding-left: 2rem;
}